<%- include(__dirname + "header") -%>

<div class="box" id="heading">
    <h1>About us</h1>
  </div>


<p>dnsjadfnasjdahnjdsaödjöd dbsjhakö dsb saod sad sa dsa dsajd sad asdsadas asd </p>

<%- include("footer") -%>